*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
 background: #575fcf5d;
}

.nav-item
{
    padding-left: 50px;
}

.nav-link
{
    color: #fff;
}

.active 
{
    background-color: rgba(0, 0, 0, 0.534);
}

header
{
    text-align: center;
    margin: auto;
    padding: 20px;

}

section
{
    margin-left: 30px;
}

.card
{  
    width: 19.5%;
    max-height: 500px;
    display: inline-flex;
    border: solid 2px rgba(0, 0, 0, 0.329)  ;
}

.card-img-top
{
    height: auto;
    max-height: 140px;
}

.card-text
{
    color: #000;
}

article
{
    font-size: 17px;
}

.social
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li
{
    margin: 20px;
}

.social a
{
    text-decoration: none;
    padding: 5px;
}

.social a:hover i{
    color: aqua;
}