*
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body
{
    background-position: center;
    background-size: cover;
    background-image: url(images/background.jpg)
}

nav
{
    background: #00000070;
    text-align: center;
}

nav ul
{
    display: inline-flex;
    list-style: none;
}

nav ul li
{
    border: solid 0px;
    border-radius: 5px;
    width: 225px;
    margin: 0;
    padding: 30px;
    font-size: large;
}

nav ul li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li:hover
{
    font-size: larger;
    transition-delay: initial;
}

.active 
{
    background-color: rgba(0, 0, 0, 0.534);
}

.slider
{
    position: relative;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.slidericerigi
{
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 25s infinite;
}

.sliderresimler
{
    width: 20%;
    float: left;
}

.slidericerigi:hover
{
    animation-play-state: paused;
}

@keyframes slide {
   0%
   {
       transform: translateX(0px);
   }
   10%
   {
       transform: translateX(-500px);
   }
   20%
   {
       transform: translateX(-500px);
   }
   30%
   {
       transform: translateX(-1000px);
   }
   40%
   {
       transform: translateX(-1000px);
   }
   50%
   {
       transform: translateX(-1500px);
   }
   60%
   {
       transform: translateX(-1500px);
   }
   70%
   {
       transform: translateX(-2000px);
   }
   80%
   {
       transform: translateX(-2000px);
   }
   90%
   {
       transform: translateX(0px);
   }
   
}

article
{
    background: #00000054;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.acarlar img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 250px;
}

.poyrazlar img
{
    float: left;
    margin: 10px;
    margin-right: 100px;
    width: 500px;
    height: 320px;
}

.madenderesi img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 300px;
}

.orman img
{
    float: left;
    margin: 10px;
    margin-right: 100px;
    width: 500px;
    height: 345px;
}

.Sapanca img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 230px;
}

footer ul
{
    display: inline-flex;
    list-style: none;
}

footer
{
    background: #fff;
    text-align: center;
}

footer ul li
{
    border: solid 0px;
    border-radius: 5px;
    width: 225px;
    margin: auto;
    padding: 10px;
    font-size: large;
}