*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background: #575fcf5d;
}

.nav-item
{
    padding-left: 50px;
}

.nav-link
{
    color: #fff;
}

.active 
{
    background-color: rgba(0, 0, 0, 0.534);
}


.slider
{
    position: relative;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.slidericerigi
{
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 25s infinite;
}

.sliderresimler
{
    width: 20%;
    float: left;
}

.slidericerigi:hover
{
    animation-play-state: paused;
}

@keyframes slide {
   0%
   {
       transform: translateX(0px);
   }
   10%
   {
       transform: translateX(-500px);
   }
   20%
   {
       transform: translateX(-500px);
   }
   30%
   {
       transform: translateX(-1000px);
   }
   40%
   {
       transform: translateX(-1000px);
   }
   50%
   {
       transform: translateX(-1500px);
   }
   60%
   {
       transform: translateX(-1500px);
   }
   70%
   {
       transform: translateX(-2000px);
   }
   80%
   {
       transform: translateX(-2000px);
   }
   90%
   {
       transform: translateX(0px);
   }
   
}

article
{
    background: #00000054;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.acarlar img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 250px;
}

.poyrazlar img
{
    float: left;
    margin: 10px;
    margin-right: 100px;
    width: 500px;
    height: 320px;
}

.madenderesi img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 300px;
}

.orman img
{
    float: left;
    margin: 10px;
    margin-right: 100px;
    width: 500px;
    height: 345px;
}

.Sapanca img
{
    float: right;
    margin: 10px;
    margin-left: 100px;
    width: 500px;
    height: 230px;
}

.social
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li
{
    margin: 20px;
}

.social a
{
    text-decoration: none;
    padding: 5px;
}

.social a:hover i{
    color: aqua;
}
