*
{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body
{
    background-color: #74b9ff;
}

.nav-item
{
    padding-left: 50px;
}

.nav-link
{
    color: #fff;
}

.active 
{
    background-color: rgba(0, 0, 0, 0.534);
}

h2
{
    text-align: center;
    color: #fff;
}

article
{
    margin: 50px;
    color:#fff;
}

footer ul
{
    display: inline-flex;
    list-style: none;
}

footer
{
    background: #fff;
    text-align: center;
}

footer ul li
{
    border: solid 0px;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: large;
}